<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Order Summary
</div>

<div class="p-4">
    <p class="font-italic mb-4">Ödeme sırasında yapılan seçimlere bağlı olarak nakliye ücretleri eklenecektir.</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sipariş Ara Tutarı</strong>
            <strong>{{subtotal | currency}}</strong>
        </li>

        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Nakliye ve taşıma</strong>
            <strong>{{shippingPrice | currency}}</strong>
        </li>

        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Toplam Tutar</strong>
            <strong>{{total | currency}}</strong>
        </li>
    </ul>
</div>